<div class="container">
  <p>
    <h2><%= @gossip.title%></h2>
  </p>
  <p>
    <h3><%= @gossip.content%></h3>
  </p>

  <p>
    <h5>create at : <%= @gossip.created_at%></h5>
  </p>

  <p>
    <h2>created by : <%= @gossip.user.first_name%>
    <%= @gossip.user.last_name%>
    <button type="button" class="btn btn-warning"><%= link_to 'Show', user_path(@gossip.user.id) %></button>
    </h2>
  </p>

<button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_gossip_path(@gossip)  %></button>

</div>